// 'Smart' Header Code
#masthead {
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 0.3s;
    z-index: 1000;
}

.header-spacer {
    margin-top: 70px;

}
  
.site-header {
    background-color: $primary;
    border-bottom: 1px solid $white;
    font-family: $heading;
    
    .container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        max-width: 1180px;

        button {
            background: transparent;
        }

        @media (max-width: 768px) {
            padding: 10px 0;
        }
        
    }

    .site-branding {
        padding-top: 6px;
        width: 25%;
        
        a {
            display: block;

            img {
                max-width: 100%;
            }
            
            @media (max-width: 768px) {
                margin-left: 15px;
            }
        }

        @media (max-width: 768px) {
            padding-top: 0;
            width: 30%;
        }

        @media (max-width: 600px) {
            width: 40%;
        }

        @media (max-width: 480px) {
            width: 52%;
        }
    }

    .menu-toggle {
        display: none;
        
        @media (max-width: 768px) {
            display: block;
            margin-right: 15px;
            
            .hamburger {
                font-size: 24px;

                &:hover {
                    cursor: pointer;
                }
            
                &:before {
                    color: $white;
                }
            }

            // Hide the hamburger icon when the menu is open
            &[aria-expanded="true"] .hamburger {
                display: none;
            }
        }
    }

    

    .main-navigation {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: auto;
        width: 75%;

        @media (min-width: 768px) {
            .current-menu-item a {
                color: $dark-gray;
            }

            .hire-btn.current-menu-item a {
                color: $white;
            }
        }

        //Button
        .hire-btn {
            border: 4px solid $white;
            border-radius: 8px;
            padding: 5px 15px;
            transition: background-color 0.5s ease;

            &:hover {
                background-color: $white;

                a {
                    color: $primary;
                }
            }

            a {
                display: block;
                height: 100%;
                width: 100%;
                transition: color 0.5s ease;
            }

            @media (max-width: 768px) {

                &:hover {
                    background-color: $white;
    
                    a {
                        color: $primary;
                    }
                }
            }
        }

        @media (max-width: 768px) {
            position: fixed;
            top: 0;
            justify-content: center;
            flex-direction: column;
            right: -100%;
            height: 100vh;
            width: 100%;
            background: #282828da;
            transition: right 0.3s ease;

            &.toggled {
                right: 0;
                z-index: 1000;
            }
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            list-style: none;

            li {
                margin: 0 15px;

                a {
                    color: $white;
                    font-weight: bold;
                    text-decoration: none;
                    text-transform: uppercase;
                    transition: color 0.5s ease;

                    &:hover {
                        color: $dark-gray;
                    }

                    @media (max-width: 768px) {
                        font-size: 1.5em;
                    }
                }

                @media (max-width: 768px) {
                    margin: 10px 0;
                }
            }

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: center;
                padding: 0;

            }
        }

        .menu-close {
            display: none; // Initially hidden
            position: absolute;
            top: 23px;
            right: 20px;
            color: $white; // Adjust as needed
            font-size: 24px; // Adjust as needed

            &:hover {
                cursor: pointer;
            }
    
            @media (max-width: 768px) {
                display: block; // Show only in mobile view
            }
    
            // More styles as needed...
        }
    
        &.toggled {
            // Styles when menu is toggled
            .menu-close {
                display: block; // Ensure it's visible when menu is open
            }
        }

        // Social Media Icons
        .social-media {
            display: none;

            @media (max-width: 768px) {
                display: flex;
                gap: 20px;
                justify-content: center;
                margin-bottom: 20px;
        
                a {
                    background-color: $white;
                    border-radius: 50%;
                    display: inline-block;
                    height: 36px;
                    width: 36px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    transition: opacity 0.5s ease;
        
                    i {
                        font-size: 1.2em;
                    }
        
                    &:hover {
                        opacity: .75;
                    }
                }
            }

            i {
                margin: 0 10px;
                color: $primary;
                font-size: 24px;
            }
        }
    }

    @media (min-width: 769px) {
        .menu-toggle {
            display: none;
        }
    }
}